@model technicalTes_Nawatech.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>

@if (ViewBag.Errors != null)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in (List<string>)ViewBag.Errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

<form asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId">
            <option value="">-- Select Category --</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Current Image</label><br />
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="~/uploads/@Model.Image" alt="Product Image" width="150" />
        }
    </div>

    <div class="mb-3">
        <label for="ImageFile" class="form-label">Change Product Image</label>
        <input type="file" name="ImageFile" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
